@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@supports (padding: max(0px)) {
    .safe-area-inset-bottom {
      padding-bottom: max(2rem, env(safe-area-inset-bottom));
    }
  }